{% extends 'base.html.twig' %}

{% block title %}Edit FeedSource{% endblock %}

{% block body %}
    <h1>Edit FeedSource</h1>

    {{ include('feed_source/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('feed_source_index') }}">back to list</a>

    {{ include('feed_source/_delete_form.html.twig') }}
{% endblock %}
